@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

/* Prefix start */
* {margin: 0; padding: 0;}

body {
  color: #393D3F;
  background: #F7F4F3; 
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.7vw; 
  width: 100%;
}

li {list-style: none;}
h1 {font-size: 6vw;}
h2 {font-size: 4vw;}
.sec {margin-bottom: 20%;}
.title {font-size: 5vw;}
.center {text-align: center;}

p {
  font-size: 2.5vw;
  opacity: 0.8;
  line-height: 1.2em;
}

a {
  color: #090026;
  text-decoration: none;
}
a:active {color: #1a0068;}
a:visited {color: #090026;}
a:hover {color: #1a0068;}
/* Prefix end */

nav {
  display: flex;
  justify-content: space-around;
  padding: 2%;
}

.underline {
  background-size: 1px 1em;
  box-shadow:
    inset 0 -0.175em white,
    inset 0 -0.2em #000;
  display: inline;
}


.header {
  width: 78%;
  margin: auto;
  padding: 3.8%;
  margin-top: 5%;
  color: #F7F4F3;
  margin-bottom: 20%;
  box-sizing: border-box;
  background: url('./Images/GrenSax.png');
}

.tag-line {
  top: 14px;
  font-size: 3vw;
  font-weight: 400;
  position: relative;
  letter-spacing: -2px;
}

.contianer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.me-img {
  width: 35%;
  border: 8px solid;
  float: left;
  filter: grayscale(0.5);
}

.about-me {
  padding: 0% 10%;
}

.me-info {
  margin-left: 40%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: 300px;
  height: 50px;
  background: #e5e5e5;
  margin: 20px;
  padding: 30px;
}

.port-title {
  text-align: center;
}

.port-title {
  font-size: 28px;
}

.socials {
  font-size: 25px;
  padding: 15px 260px;
}

footer {
  background: #191919;
  padding: 50px;
}

footer h2 {
  font-size: 20px;
}

footer h3 {
  opacity: 0.8;
}

#footer-content {
  color: white;
  opacity: 0.8;
  text-align: center;
  font-size: 15px;
}